<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <button id="playButton">Play Video</button>
    <button id="pauseButton">Pause Video</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        const socket = io();

        const playButton = document.getElementById('playButton');
        const pauseButton = document.getElementById('pauseButton');

        playButton.addEventListener('click', () => {
            socket.emit('play');
        });

        pauseButton.addEventListener('click', () => {
            socket.emit('pause');
        });
    </script>
</body>
</html>
